.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    padding: 100px 8%;


}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #CCCCCC;
    align-items: center;
    padding: 18px 8%;

}
.nav-menu{
    flex: 1;
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
a{
    text-decoration: none;
    color: rgb(54, 52, 52);
    font-family: Inter;
    font-size: 16px;
}
.black{
    color: #0D1B2A;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./img/banner.jpg');
    background-repeat: no-repeat;
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.header-content{
    color: white;
}
.header-content button{
   
    background: #2F5EFF;
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: auto;
}
.Speakers{
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}
.speaker-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}